@import url("variables.css");

.modal {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center; */
    /* position: fixed; */
    text-align: center;
     position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: fit-content;
    height: fit-content;

    border: none;
    border-radius: var(--radius);
    padding: 50px;
}
.modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}
.modal-content {
    padding: 30px;
}